<div class="container">
    <h2>Update User</h2>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="userData.name" name="name" required class="form-control">
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" id="age" [(ngModel)]="userData.age" name="age" required class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="userData.email" name="email" required class="form-control">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Update User</button>
    </form>
  </div>
  